*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('image.png/');
    background-size: cover;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 2em;
    letter-spacing: 2px;
}

.MENU a{
    text-decoration: none;
    color: white;
    padding: 10PX 20PX;
    font-size: 15PX;
    position: relative;
}
.MENU a:before{
    content: '';    content:'' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(244, 13, 13);
    transition: 0.4s linear;

}

.register a{
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    background: red;
    border-radius: 8px;
    transition: o.4s ;
}

.register a:hover{
    background-color: transparent;
    border: 1px solid rgb(235, 14, 14);
}

.body{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: black;
    
}

.body span{
    letter-spacing: 5px;
}

.body h1{
    font-size: 3em;
}

.body a{
    background-color: rgb(243, 19, 19);
    font-size: 1.5em;
    padding: 10px 20px;
    letter-spacing: 5px;
    position: relative;
}

.body a:hover{
    background-color: transparent;
    border: 1px solid rgb(235, 14, 14);

}


.MENU a:hover:before{
    width: 90%;
}



